// 色系統
$black1: #110e17;
$black2: #14121c;
$black3: #1a1526;
$white1: #f2f2f2;
$purple1: #5918df;
$gray1: #988e9f;

// 文字色
.c-p {
  color: $purple1;
}
.c-g {
  color: $gray1;
}

// flex
.flex {
  display: flex;
}
.f-ali {
  display: flex;
  align-items: center;
}
.f-jus {
  display: flex;
  justify-content: center;
}
.f-cen {
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-bet {
  display: flex;
  justify-content: space-between;
}
.f-alibet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// position
.p-re {
  position: relative;
}
.p-ab {
  position: absolute;
}
.p-fi {
  position: fixed;
}

// layout
.contentWrap {
  width: 868px;
  margin: 0 auto;
  padding: 75px 22px;
}
.content {
  width: 100%;
  height: 100%;
}

// font
.font {
  font-family: "Roboto Mono", monospace;
}

// code
#code {
  .codeWrap {
    position: relative;
    &:hover {
      background-color: #1a1526;
      cursor: default;
    }
    .code {
      display: block;
      width: 868px;
      margin: 0 auto;
      padding: 0 22px;
    }
  }

  .code-class {
    color: #3691ff;
  }
  .code-className {
    color: #ff6480;
  }
  .code-string {
    color: #f9c859;
  }
  .code-number {
    color: #ff78f8;
  }
  .code-methods {
    color: #3fc56b;
  }
  .code-brackets {
    color: #7a82da;
  }
  .code-property {
    color: #ce9887;
  }
}
